.card {
  width: 100%;
  list-style: none;
}
.card__image {
  display: block;
  object-fit: cover;
  aspect-ratio: 1 /1;
  width: 100%;
  border-radius: 8px;
}
.card__textbox {
  display: flex;
  justify-content: space-between;
  margin: 12px 0 0;
}
.card__text {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  max-width: 353px;
}
.card__button-like {
  height: 20px;
  width: 23px;
  background-image: url("../images/like_icon_dark.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  border: none;
  transition: opacity 0.25s ease-in-out;
  align-self: flex-end;
  opacity: 40%;
}

.card__button-like:hover {
  opacity: 100%;
}

@media screen and (max-width: 460px) {
  .card__text {
    font-size: 16px;
    max-width: 250px;
  }
    .card__button-like {
      width: 20px;
      height: 18px;
    }
}

css
cards.css
No comments
.cards {
  margin-top: 20px;
}
.cards__list {
  margin: 0 auto;
  padding: 0 0 40px 0;
  list-style-type: none;
  column-gap: 20px;
  row-gap: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(288px, 413px));
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(33, 33, 33, 0.4);
  width: 100%;
}

@media screen and (max-width: 630px) {
  .cards__list {
    padding: 0 0 20px 0;
    row-gap: 20px;
  }
}